<template>
  <div class="home"></div>
  <GrilleMorpion />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import GrilleMorpion from "@/components/GrilleMorpion.vue";
//import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src

export default defineComponent({
  name: "Home",
  components: { GrilleMorpion },
});
</script>
