<template>
  <div class="container">
    <input type="text" v-model="title" />
    <div class="grille-morpion row">
      <div class="col-4">
        <input
          class="cell"
          id="cell-0"
          data-id="0"
          v-model="grille[0]"
          @click="play"
        />
      </div>
      <div class="col-4">
        <input
          class="cell"
          id="cell-1"
          data-id="1"
          v-model="grille[1]"
          @click="play"
        />
      </div>
      <div class="col-4">
        <input
          class="cell"
          id="cell-2"
          data-id="2"
          v-model="grille[2]"
          @click="play"
        />
      </div>
      <div class="col-4">
        <input
          class="cell"
          id="cell-3"
          data-id="3"
          v-model="grille[3]"
          @click="play"
        />
      </div>
      <div class="col-4">
        <input
          class="cell"
          id="cell-4"
          data-id="4"
          v-model="grille[4]"
          @click="play"
        />
      </div>
      <div class="col-4">
        <input
          class="cell"
          id="cell-5"
          data-id="5"
          v-model="grille[5]"
          @click="play"
        />
      </div>
      <div class="col-4">
        <input
          class="cell"
          id="cell-6"
          data-id="6"
          v-model="grille[6]"
          @click="play"
        />
      </div>
      <div class="col-4">
        <input
          class="cell"
          id="cell-7"
          data-id="7"
          v-model="grille[7]"
          @click="play"
        />
      </div>
      <div class="col-4">
        <input class="cell" id="cell-8" v-model="grille[8]" @click="play" />
      </div>
    </div>
  </div>
  <hr />
  grille {{ grille }}
</template>
<script lang="ts">
import { defineComponent, ref, watchEffect, watch } from "vue";
enum symbole {
  X = "X",
  O = "O",
}

type Cells = Record<number, string>;
export default defineComponent({
  name: "GrilleMorpion",
  setup() {
    const v1 = ref<number | string>(88);
    let title = ref<string>("title 001");
    // let grille = ref<Record<number, string>>({});
    let grille = ref<Cells>();
    let playerSymbole = ref<any>("X");

    const play = (event: Event & { target: EventTarget | null }) => {
      console.log(
        "play click | event.target.id ",
        (event.target as HTMLElement)?.dataset.id
      );
      let X = (event.target as HTMLElement)!.dataset!.id ?? 0;
      grille["0"] = playerSymbole;
      //  console.log(event.target.dataset("id"));
    };

    return { v1, grille, title, playerSymbole, play };
  },
  watch: {
    grille: {
      handler(val, oldVal) {
        console.log("grille list changed" + this.grille);
        this.playerSymbole = this.playerSymbole === "X" ? "O" : "X";
      },
      deep: true,
    },
  },
});
</script>

<style lang="scss">
.grille-morpion {
  position: relative;
  .cell {
    height: 50px;
    background-color: red;
    margin-bottom: 5px;
  }
}
</style>
